body {
    font-size: 16px;
    font-family: "Microsoft yahei";
    color: #757575;
}

a {
    color: #4285f4;
    text-decoration: none;
}

p {
    font-size: inherit;
}

button {
    outline: none!important;
}

hr {
    margin-top: 0;
}

.container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
}

#searchbox {
    width: 80%;
    margin: 2rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

#searchbox:hover,
#searchbox:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.btn {
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem 0.6rem;
    outline: none;
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.btn:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.btn:active {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.04);
}

.btn.blue {
    color: #fff;
    border: 1px solid #4285f4;
    background: -webkit-linear-gradient(top, #4387fd, #4683ea);
    padding: 0.3rem 1rem 0.4rem;
}

.float-right {
    float: right;
}

.nav {
    overflow: hidden;
    padding: 1.2rem 2rem;
    transition: margin 0.5s ease-in-out;
}

.shadow-2px {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

#signin-card {
    background: #f7f7f7;
    padding: 1.5rem;
    width: 274px;
}

.input {
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    outline: none;
    background-color: #fff;
    padding: 0.8rem 1.2rem 0.9rem;
    border: none;
    border-radius: 2px;
}

.book-result {
    padding-bottom: 1rem;
}

.book-result p,
.block p {
    margin: 0;
}

.book-result .book-name {
    font-size: 18px;
    color: #1a0dab;
}

.panel.panel-default {
    border-color: #4285f4;
    border-radius: 0;
}

.panel.panel-default .panel-heading {
    background: #4285f4;
    color: white;
    border-color: #4285f4;
    border-radius: 0;
}

.panel-body p {
    margin: 0;
}

.panel-body table {
    margin: 0;
    border-bottom: 1px solid #ddd;
}

button.lb-btn {
    border: none;
    color: #4285f4;
    background: rgba(0, 0, 0, 0);
    padding: 0;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
}

table tr td:last-child {
    white-space: nowrap;
    width: 1px;
}

button:disabled {
    color: #999;
    cursor: inherit;
}
